@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}
body{
    min-height:100dvh;
    background-color:   #061E29;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #1D546D;
    padding: 10px;
}
.headerBox{
    padding-left: 2rem;
    
    color: #F3F4F4;
}

.cur {
    cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปมือ (บน PC) และบอกมือถือว่าตรงนี้กดได้ */
    user-select: none; /* ห้ามลากคลุมดำตัวหนังสือ (ช่วยลดบัคเวลากดรัวๆ) */
    -webkit-tap-highlight-color: transparent; /* ลบสีฟ้าๆ เวลาแตะ */
    touch-action: manipulation; /* บอก Browser ว่าไม่ต้องรอซูม ให้รับค่ากดเลย (สำคัญ!) */
}

section{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: auto;
    place-items: center;
    /* background-color: #F3F4F4; */
}
section a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D546D ;
    text-decoration: none;
    color: #F3F4F4;
    margin: 1rem;
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
}

.textH2{
    text-align: center;
    padding: 1rem;
    color: #F3F4F4;
}
