@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100dvh
}
.raleway-200 {
    font-size: 40rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav{
    display: flex;
    background-color: #1D546D;
    padding: 10px;
}
nav a{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    border: solid 2px #6b6b6b;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 1rem;
    padding: 0.5rem 2rem;  /* บนล่าง ซ้ายขวา */
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #5F9598; /* เปลี่ยนเป็นสีทองตอนเอาเมาส์ชี้ */
    color: #003366;
    border-color: #5F9598;
    transform: translateY(-2px);
}
.headerBox{
    display: flex ;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    font-family: "Kanit", sans-serif;
    color: #F3F4F4;
}
.selectStop{
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}
.navBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.select{
    background-color: #5F9598; 
    color: #ffffff;
    transform: translateY(-2px);
}
.car {
    cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปมือ (บน PC) และบอกมือถือว่าตรงนี้กดได้ */
    user-select: none; /* ห้ามลากคลุมดำตัวหนังสือ (ช่วยลดบัคเวลากดรัวๆ) */
    -webkit-tap-highlight-color: transparent; /* ลบสีฟ้าๆ เวลาแตะ */
    touch-action: manipulation; /* บอก Browser ว่าไม่ต้องรอซูม ให้รับค่ากดเลย (สำคัญ!) */
}

.sectionSec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color:   #061E29;
    padding: 5rem;
}
.parkBox{
    display: flex;
    flex-direction: column;
}

.carL{
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center; /*กลางแกน X*/
    align-items: center; /* กลางแกน Y */
    width: 30rem;
    height: 10rem;
    border: solid 5px #F3F4F4; 
    border-right:none ;
    margin: 1rem 0.5rem  0; /* บน ขวาซ้าย ล่าง */
    color: #fff;
}
.carR{
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center; /*กลางแกน X*/
    align-items: center; /* กลางแกน Y */
    width: 30rem;
    height: 10rem;
    border: solid 5px #F3F4F4;
    border-left:none ;
    margin: 1rem 0.5rem  0; /* บน ขวาซ้าย ล่าง */
    color: #fff;
}

.carImg{
    width: 70%;
    height: auto;
}

.hidden-field {
    display: none;    
}


