@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.raleway-200 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav{
    display: flex;
    background-color: bisque;
    padding: 10px;
}
nav a{
    border: solid 2px #646464;
    background-color: rgb(255, 254, 184);
    color: #646464;
    font-weight: 1rem;
    padding: 0.5rem 2rem;  /* บนล่าง ซ้ายขวา */
    margin: 0.5rem;
    font-size: 18px;
    text-decoration: none;
}

.sectionSec{
    background-color: rgb(56, 56, 56);
}
.parkBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    place-items: center;
}

.car{
    display: flex;
    justify-content: center; /*กลางแกน X*/
    align-items: center; /* กลางแกน Y */
    width: 40rem;
    height: 10rem;
    border: solid 1px #fff;
    border-right:none ;
    margin: 1rem 0.5rem  0; /* บน ขวาซ้าย ล่าง */
    /* background-color: rgb(63, 63, 63); */
    color: #fff;
}

.carImg{
    width: 50%;
    height: auto;
}