* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    background-color: bisque;
    padding: 10px;
}
nav a{
    border: solid 2px #fff;
    background-color: aqua;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.parkBox{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.car{
    display: flex;
    justify-content: center; /*กลางแกน X*/
    align-items: center; /* กลางแกน Y */
    width: 50rem;
    height: 10rem;
    background-color: aquamarine;
}