@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100dvh
}
.raleway-200 {
    font-size: 40rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

header{
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #1D546D;
    padding: 10px;
}
/* DropDowe menu */
.dropdown{
    justify-self: end; /* จัดแกน x */
    align-self: center;/* จัดแกน y */
    padding-right: 2rem;
}
.dropdown button{
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
.dropdown .content a{
    font-family: "Kanit", sans-serif;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: #061E29;
    background-color: #5F9598;
    text-decoration: none;
    padding: 1rem;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsla(199, 74%, 9%, 0.353);
    color: #F3F4F4;
}
.dropdown a:hover {
    background-color: #00a7a72d;
}

.headerBox{
    display: flex ;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    font-family: "Kanit", sans-serif;
    color: #F3F4F4;
}

.select{
    background-color: #5F9598; 
    color: #ffffff;
    transform: translateY(-2px);
}
.car {
    cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปมือ (บน PC) และบอกมือถือว่าตรงนี้กดได้ */
    user-select: none; /* ห้ามลากคลุมดำตัวหนังสือ (ช่วยลดบัคเวลากดรัวๆ) */
    -webkit-tap-highlight-color: transparent; /* ลบสีฟ้าๆ เวลาแตะ */
    touch-action: manipulation; /* บอก Browser ว่าไม่ต้องรอซูม ให้รับค่ากดเลย (สำคัญ!) */
}

.sectionSec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color:   #061E29;
    padding: 5rem;
}
.parkBox{
    display: flex;
    flex-direction: column;
}

.carL, .carR{
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center; /*กลางแกน X*/
    align-items: center; /* กลางแกน Y */
    width: 30rem;
    height: 10rem;
    border: solid 5px #F3F4F4;
    margin: 1rem 0.5rem  0; /* บน ขวาซ้าย ล่าง */
    color: #fff;
}
.carR{
    border-left:none ;
}
.carL{
    border-right:none ;
}

.carImg{
    width: 70%;
    height: auto;
}

.hidden-field {
    display: none;    
}


